/*
 * Some defaults are based on inherit
 *
 * Why inherit ?
 * If you have a component and his children not using border-box for example:
 *
 * Without inherit you might need
 * .Component, .Component * { box-sizing: content-box }
 *
 * With inherit you can just write
 * .Component { box-sizing: content-box }
 *
 * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
/*
 * Repeating the background mostly makes sense in the <body>. Otherwise, people
 * usually want the image and preferably its center (not the top-right corner)
 */
*:not(body) {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
/*
 * tables borders like they should be
 * applied to * to also works for display: table;
 */
html {border-collapse: collapse}
* {border-collapse: inherit}
/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html {box-sizing: border-box}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*
 * kill document defaults margin & padding. We all do that all the times, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}
/*
 * Makes the hidden attribute works even when an element is styled display: flex
 * http://lists.w3.org/Archives/Public/public-whatwg-archive/2014May/0001.html
 */
[hidden] {display: none !important}
