/*
 * Some defaults are based on inherit
 *
 * Why inherit ?
 * If you have a component and his children not using border-box for example:
 *
 * Without inherit you might need
 * .Component, .Component * { box-sizing: content-box }
 *
 * With inherit you can just write
 * .Component { box-sizing: content-box }
 *
 * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
/*
 * Repeating the background mostly makes sense in the <body>. Otherwise, people
 * usually want the image and preferably its center (not the top-right corner)
 */
*:not(body) {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
/*
 * tables borders like they should be
 * applied to * to also works for display: table;
 */
html {border-collapse: collapse}
* {border-collapse: inherit}
/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html {box-sizing: border-box}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*
 * kill document defaults margin & padding. We all do that all the times, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}
/*
 * Makes the hidden attribute works even when an element is styled display: flex
 * http://lists.w3.org/Archives/Public/public-whatwg-archive/2014May/0001.html
 */
[hidden] {display: none !important}
.r-all--1of12 {
  width: 8.33333%;
}

.r-all--1of10 {
  width: 10%;
}

.r-all--1of8 {
  width: 12.5%;
}

.r-all--1of6,
.r-all--2of12 {
  width: 16.66667%;
}

.r-all--1of5,
.r-all--2of10 {
  width: 20%;
}

.r-all--1of4,
.r-all--2of8,
.r-all--3of12 {
  width: 25%;
}

.r-all--3of10 {
  width: 30%;
}

.r-all--1of3,
.r-all--2of6,
.r-all--4of12 {
  width: 33.33333%;
}

.r-all--3of8 {
  width: 37.5%;
}

.r-all--2of5,
.r-all--4of10 {
  width: 40%;
}

.r-all--5of12 {
  width: 41.66667%;
}

.r-all--1of2,
.r-all--2of4,
.r-all--3of6,
.r-all--4of8,
.r-all--5of10,
.r-all--6of12 {
  width: 50%;
}

.r-all--7of12 {
  width: 58.33333%;
}

.r-all--3of5,
.r-all--6of10 {
  width: 60%;
}

.r-all--5of8 {
  width: 62.5%;
}

.r-all--2of3,
.r-all--4of6,
.r-all--8of12 {
  width: 66.66667%;
}

.r-all--7of10 {
  width: 70%;
}

.r-all--3of4,
.r-all--6of8,
.r-all--9of12 {
  width: 75%;
}

.r-all--4of5,
.r-all--8of10 {
  width: 80%;
}

.r-all--5of6,
.r-all--10of12 {
  width: 83.33333%;
}

.r-all--7of8 {
  width: 87.5%;
}

.r-all--9of10 {
  width: 90%;
}

.r-all--11of12 {
  width: 91.66667%;
}

.r-all--1of1,
.r-all--2of2,
.r-all--3of3,
.r-all--4of4,
.r-all--5of5,
.r-all--6of6,
.r-all--8of8,
.r-all--10of10,
.r-all--12of12 {
  width: 100%;
}

.r-all--hidden {
  display: none;
}

.r-all--visible {
  display: inline-block;
}
.localvideo {
  position: absolute;
  width: 20%;
}

/* TODO: add a default width style if no other is specified */

.localvideo > video {
  width: 100%;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.localvideo.pin--r {
  right: 0;
}

.localvideo.pin--l {
  left: 0;
}

.localvideo.pin--t {
  top: 0;
}

.localvideo.pin--b {
  bottom: 0;
}

.localvideo {
}
